!{raydash_videostream(token,'video_in')}
!{raydash_videorecord(token,'video_out')}
a(href="#", id="next") next


script(type="text/javascript")
	$("#next").click(function(){
		$.ajax({url:'/next/#{token}',method:'GET'})
	});	